# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Credentials / keys
*.json
*.key
*.pem

# Logs
*.log

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
